<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Basic Navs &amp; Tabs</h6>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <title class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</title>
            </div>
        </nav>
        <div class="tab-content pt-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                Diam sea sanctus amet clita lorem sit sanctus ea elitr. Lorem rebum est elitr eos. Dolores aliquyam sadipscing dolor sadipscing accusam voluptua tempor. Sanctus elitr sanctus diam tempor diam aliquyam et labore clita, ipsum takimata amet est erat, accusam takimata gubergren sea sanctus duo nonumy. Ipsum diam ipsum sit kasd.
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="customScript">

    <!-- Template Javascript -->
<!--    <script type="module" src="/js/board/list.js"></script>-->

</th:block>
</html>