<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4" id="title">Content </h6>
        <div class="content pt-3" >
            <div id="contentArea" class="tab-pane fade show active"  role="tabpanel" aria-labelledby="nav-home-tab">
            </div>
        </div>
        <hr>
        <div class="my-3 p-3 bg-black rounded shadow-sm" style="padding-top: 10px">
            <h6 class="border-bottom pb-2 mb-0">Reply list</h6>
            <div id="commentList"></div>
        </div>
        <div class="container-fluid">
            <textarea class="form-control" placeholder="댓글을 입력해주세요" id="commentText" style="height: 100px;"></textarea>
<!--            <label for="commentText">댓글</label>-->
        </div>
        <button type="button" id="commentAddBt" class="btn btn-info m-2">등록</button>
    </div>
</th:block>

<th:block layout:fragment="customScript">

    <!-- Template Javascript -->
    <script type="module" src="/js/board/view.js"></script>

</th:block>
</html>